
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.relatorio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin-top: 30px;
}

.sub-menu{
    margin-bottom: 15px;
}

.figurinha{
    width: 200px;
    height: 200px;
}

mat-form-field{
    font-size: 16px;
    width: 100%;
}

.card-custon{
    height: 300px;
    width: 70%;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.custom-input {
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s;
  }
  
  /* Estilo quando o input está em foco (exemplo, ao clicar nele) */
  .custom-input:focus {
    border-color: rgb(3, 133, 133);
    outline: none;
  }
  
  /* Estilo quando o input tem algum erro (exemplo, validação do formulário) */
  .custom-input.error {
    border-color: rgb(3, 133, 133);
  }

.form-personal{
    padding: 10px;
}

.dados-basicos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome-empresa{
    width: 100%;
}

.cnpj-empresa{
    width: 100%;
}

.rocket{
    border-radius: 50px;
    padding: 10px 0px 10px 10px;
    width: 50%;
}

.dashboard{
    border-radius: 50px;
    padding-right: 10px;
    width: 50%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
.example-radio-button {
    margin: 5px;
}

.custom-button {
    background-color: #ffffff;
    color:  rgb(3, 133, 133);
    font-size: 16px;
    padding: 12px 20px;
    border: solid  rgb(3, 133, 133) 2px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .custom-button:hover {
    color: #fff;
    background-color: rgb(3, 133, 133);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-button:active {
    background-color: rgb(3, 133, 133);
  }

.options{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.option{
    word-break: break-word;
}

.questionario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 30px;
}

.questionario.show{
    opacity: 1;
}

.questionario button{
    width: 100%;
}

@media (max-width: 850px){
    mat-card{
        margin: 15px;
        padding: 5px;
    }

    mat-card-title{
        padding: 10px;
    }

    .imagens{
        display: flex;
        flex-direction: column;
    }
    .rocket{
        padding: 10px 10px 0px 10px;
        width: 100%;
    }
    
    .dashboard{
        padding: 0px 10px 0px 10px;
        width: 100%;
    }

    body{
        justify-content: center;
    }
    
    .dados-basicos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nome-empresa{
        width: 100%;
    }
    
    .cnpj-empresa{
        width: 100%;
    }
}