<app-menu></app-menu>

<div class="container-1">
    <div class="part-1">
        <div class="title">
            <h1>Melhore a gestão da sua empresa com os recursos da <strong>Precision</strong></h1>
        </div>
    </div>
    
    <div class="part-2">
        <div class="title-2">
            <h3>"Preencha os seus dados e tenha um <strong>MAIOR CONTROLE</strong> sobre o seu financeiro e sua empresa"</h3>
        </div>
    </div>
    
    <div class="part-3">
        <div class="button-1">
            <button type="button" class="btn btn-outline-dark" routerLink="formulario">Clique aqui para preencher o formulário</button>
            <div>
                <p>100% <strong>Gratuito</strong></p>
            </div>
            
        </div>
    </div>
    
    <div class="imagens-1">
        <div class="container">
            <div class="circulo"></div>
            <img [src]="imagePath" alt="Minha Imagem" class="rocket">
        </div>
    </div>
</div>

<div class="footer">

    <div class="footer-info">
        <div>
            <div class="footer-info-1">
                <span class="material-symbols-outlined">
                    location_on
                </span>
                <p>Rua João Eloy Cardoso, 177 - Boqueirão</p>
            </div>
            <div class="footer-info-1">
                <span class="material-symbols-outlined">
                    location_on
                </span>
                <p> Curitiba - PR, 81750-100</p>
            </div>
        </div>

        <div>
            <div class="footer-info-1">
                <span class="material-symbols-outlined">
                    call
                    </span>
                <p>41 3277 - 1438</p>
            </div>
            <div class="footer-info-1">
                <span class="material-symbols-outlined">
                    phone_iphone
                    </span>
                <p>41 99624 - 3331</p>
            </div>
            <div class="footer-info-1">
                <p>© 2023 - Precision | All right reserved</p>
            </div>
        </div>


    </div>


</div>