<app-menu></app-menu>

<div class="body">


<div class="card-custon">

    <div class="form-personal">

      <form class="example-form"> 

            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta0">

              <h2>Dados da Empresa</h2>

              <div class="dados-basicos">

                  <div class="nome-empresa">
                      <mat-form-field appearance="outline">
                        <mat-label>Nome Empresa</mat-label>
                        <input matInput placeholder="Ex. Pizzaria Ltda" #empresa>
                      </mat-form-field>
                  </div>

                  <div class="cnpj-empresa">
                      <mat-form-field appearance="outline">
                          <mat-label>Cnpj</mat-label>
                          <input matInput placeholder="Ex. 07.145.568/0001-45" appCnpjFormat #cnpj>
                      </mat-form-field>
                  </div>
  
              </div>

              <button class="custom-button" color="primary" (click)="next0(empresa.value, cnpj.value)">CONFIRMAR</button>

            </div>
            
            <!-- pergunta 1  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta1">

              <div>
                <img [src]="image1" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>A empresa possuí conta bancária pessoa jurídica e utiliza ela SOMENTE para pagamentos e recebimentos da empresa?</h2>


              <div class="form-check">
                <button class="custom-button" 
                (click)="next1(
                  'Não possuí conta bancária, utiliza a dos sócios pessoa física.',
                  'Ter uma conta bancária da pessoa jurídica é fundamental para o início de qualquer gestão financeira. É necessário que a empresa tenha uma conta em nome do CNPJ e faça os seus recebimentos e pagamentos através desta ou dessas contas, não importa quantas sejam, porém precisa ser da pessoa jurídica.',
                  1
                  )">Não possuí conta bancária, utiliza a dos sócios pessoa física.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next1(
                  'Possuí conta bancária, porém também RECEBE e PAGA por contas de pessoa física(sócios).',
                  'Ter uma conta bancária da PJ é o básico necessário para o início da Gestão. Receber e pagar por contas que não sejam relacionadas a empresa faz com que se perca a rastreabilidade dos gastos e recebimentos, dando inicio a bagunça. É preciso pagar e receber pelas contas da pessoa jurídica.',
                  2
                  )">Possuí conta bancária, porém também RECEBE e PAGA por contas de pessoa física(sócios).</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next1(
                  'Possuí conta bancária, e apenas recebe por outra conta, todos os pagamentos são feitos pela da empresa.',
                  'É muito comum sócios ou colaboradores receberem pagamentos em contas pessoais, essa prática abre margem para fraudes além de comprometer a rastreabilidade das receitas.',
                  3
                  )">Possuí conta bancária, e apenas recebe por outra conta, todos os pagamentos são feitos pela da empresa.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next1(
                  'Tem conta bancária da empresa e todos os pagamentos e recebimentos são feitos exclusivamente por ela.',
                  'Parabéns! Receber e pagar pela conta da pessoa jurídica é o início para uma boa gestão financeira. Todos os dados centralizados em contas da empresa além de evitar problemas fiscais, ajudam e muito na conciliação e análise do resultado financeiro da loja.',
                  4
                  )">Tem conta bancária da empresa e todos os pagamentos e recebimentos são feitos exclusivamente por ela.</button>
              </div>


            </div>

            <!-- pergunta 2  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta2">

              <div>
                <img [src]="image2" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Os sócios recebem um pró-labore fixo todo mês (ou seja, recebem um salário assim como todos os demais funcionários)?</h2>


              <div class="form-check">
                <button class="custom-button" 
                (click)="next2(
                  'Não, retiradas são feitas para pagar quaisquer contas pessoais dos sócios ao longo do mês.',
                  'Cuidado. Suas retiradas indiscriminadas são uma ameaça considerável à saúde financeira da empresa. A ausência de uma data fixa inviabiliza a gestão do seu fluxo de caixa e a falta de um valor fixo corrói a lucratividade do negócio.',
                  1
                  )">Não, retiradas são feitas para pagar quaisquer contas pessoais dos sócios ao longo do mês.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next2(
                  'Mais ou menos... o valor da remuneração é fixo mas as retiradas acontecem conforme a necessidade.',
                  'Ter um pró labore fixo é uma medida louvável, contudo, a falta de periodicidade nesse pagamento inviabiliza a gestão de caixa adequada do seu negócio.',
                  2
                  )">Mais ou menos... o valor da remuneração é fixo mas as retiradas acontecem conforme a necessidade.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next2(
                  'Mais ou menos… o pró-labore é pago em apenas uma data no mês mas seu valor varia segundo a necessidade do sócio.',
                  'Parabéns por não desfalcar seu caixa em diferentes momentos do mês… Mas tome cuidado para a sua retirada de dinheiro não se tornar um custo fora da realidade do seu negócio.',
                  3
                  )">Mais ou menos… o pró-labore é pago em apenas uma data no mês mas seu valor varia segundo a necessidade do sócio.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next2(
                  'Sim! O pró-labore é fixo em valor e data e qualquer retirada além do planejado é abatida no próximo mês.',
                  'Parabéns! Visto que a separação das suas contas pessoais das contas da empresa é satisfatória. Realizar suas eventuais retiradas de acordo com o valor fixado é imprescindível para a saúde financeira do caixa.',
                  4
                  )">Sim! O pró-labore é fixo em valor e data e qualquer retirada além do planejado é abatida no próximo mês.</button>
              </div>


            </div>

            <!-- pergunta 3  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta3">

              <div>
                <img [src]="image3" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Existem hoje dentro das contas pagas pela empresa contas pessoais dos sócios?</h2>


              <div class="form-check">
                <button class="custom-button" 
                (click)="next3('Todas as contas pessoais do sócio e família são pagos pela conta da empresa.',
                'Cuidado! Essa prática além de confundir os relatórios e resultados com despesas que não são da empresa, abre margem para os sócios utilizarem a empresa como um caixa eletrônico, nunca conseguindo ter uma clareza.',
                1
                )">Todas as contas pessoais do sócio e família são pagos pela conta da empresa.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next3('Algumas contas pessoais são pagas pela conta da empresa.',
                'Essas contas pessoais que são pagas na conta da empresa podem atrapalhar toda a análise de resultados e relatórios, é essencial que apenas despesas da empresa transitem pela conta bancária da loja.',
                2
                )">Algumas contas pessoais são pagas pela conta da empresa.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next3('Não são feitos pagamentos pessoais, porém as vezes o sócio utiliza o cartão de crédito da empresa.',
                'Utilizar o cartão de crédito da empresa assim como pagar contas pessoais pela conta bancária, atrapalham uma análise verdadeira do resultado da loja. ',
                3
                )">Não são feitos pagamentos pessoais, porém as vezes o sócio utiliza o cartão de crédito da empresa.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next3('Nenhuma conta pessoal dos sócios é paga pela conta da empresa e nenhum gasto pessoal é feito no cartão de crédito do comércio.',
                'Parabéns! Você sabe de fato que as contas e despesas da empresa devem ser separadas e diferente dos sócios.',
                4
                )">Nenhuma conta pessoal dos sócios é paga pela conta da empresa e nenhum gasto pessoal é feito no cartão de crédito do comércio.</button>
              </div>


            </div>

            <!-- pergunta 4  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta4">

              <div>
                <img [src]="image4" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>A loja tem algum tipo de sistema de controle/cadastro das entradas e saídas de dinheiro?</h2>


              <div class="form-check">
                <button class="custom-button" 
                (click)="next4('Não é feito nenhum tipo de controle.')">Não é feito nenhum tipo de controle.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next4('É utilizado algum tipo de caderno ou anotações manuais.')">É utilizado algum tipo de caderno ou anotações manuais.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next4('É utilizada uma planilha.')">É utilizada uma planilha.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" 
                (click)="next4('Possuí um sistema de gestão financeira.')">Possuí um sistema de gestão financeira.</button>
              </div>


            </div>

            <!-- pergunta 5  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta5">

              <div>
                <img [src]="image5" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Os sócios recebem um pró-labore fixo todo mês (ou seja, recebem um salário assim como todos os demais funcionários)?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next5('Não, retiradas são feitas para pagar quaisquer contas pessoais dos sócios ao longo do mês.')">Não, retiradas são feitas para pagar quaisquer contas pessoais dos sócios ao longo do mês.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next5('Mais ou menos... o valor da remuneração é fixo mas as retiradas acontecem conforme a necessidade.')">Mais ou menos... o valor da remuneração é fixo mas as retiradas acontecem conforme a necessidade.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next5('Mais ou menos… o pró-labore é pago em apenas uma data no mês mas seu valor varia segundo a necessidade do sócio.')">Mais ou menos… o pró-labore é pago em apenas uma data no mês mas seu valor varia segundo a necessidade do sócio.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next5('Sim! O pró-labore é fixo em valor e data e qualquer retirada além do planejado é abatida no próximo mês.')">Sim! O pró-labore é fixo em valor e data e qualquer retirada além do planejado é abatida no próximo mês.</button>
              </div>


            </div>

            <!-- pergunta 6  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta6">

              <div>
                <img [src]="image6" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>A empresa consegue ter controle de cada centavo que saiu e cada centavo que entrou em caixa ou banco no último mês?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next6('Não é feito o controle de entradas e saídas')">Não é feito o controle de entradas e saídas</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next6('Existe algum tipo de controle mas não se consegue ter exatidão de cada centavo que entrou e saiu.')">Existe algum tipo de controle mas não se consegue ter exatidão de cada centavo que entrou e saiu.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next6('As entradas de dinheiro são controladas com exatidão, o faturamento é facilmente visualizado e acompanhado, porém as saídas de dinheiro não se tem a mesma clareza')">As entradas de dinheiro são controladas com exatidão, o faturamento é facilmente visualizado e acompanhado, porém as saídas de dinheiro não se tem a mesma clareza</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next6('A empresa consegue ter certeza de tudo que entrou e saiu.')">A empresa consegue ter certeza de tudo que entrou e saiu.</button>
              </div>


            </div>

            <!-- pergunta 7  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta7">

              <div>
                <img [src]="image7" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>A empresa consegue ter a previsão dos pagamentos e recebimentos para os próximos 90 dias?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next7('Não, não tenho nenhuma previsão, acompanhamos o saldo dia a dia.')">Não, não tenho nenhuma previsão, acompanhamos o saldo dia a dia.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next7('Mais ou menos, tenho certa noção dos valores que irei receber.')">Mais ou menos, tenho certa noção dos valores que irei receber.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next7('Mais ou menos, tenho o controle apenas dos pagamentos que irei fazer')">Mais ou menos, tenho o controle apenas dos pagamentos que irei fazer</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next7('Sim, temos a previsibilidade a de contas a pagar e receber,bem como o saldo irá se comportar com essas transações.')">Sim, temos a previsibilidade a de contas a pagar e receber,bem como o saldo irá se comportar com essas transações.</button>
              </div>


            </div>

            <!-- pergunta 8  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta8">

              <div>
                <img [src]="image8" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>A empresa se apoia em relatórios financeiros e demonstrativos contábeis atualizados para acompanhar os resultados da empresa?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next8('Não, não há nenhum relatório de caixa nem acompanhamento, até as notas fiscais não são acompanhadas corretamente.')">Não, não há nenhum relatório de caixa nem acompanhamento, até as notas fiscais não são acompanhadas corretamente.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next8('Não. Apenas o acompanhamento de emissão de notas fiscais em sistema é realizado.')">Não. Apenas o acompanhamento de emissão de notas fiscais em sistema é realizado.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next8('Sim, Há acompanhamento dos relatórios gerenciais. Entretanto, esses dados e indicadores gerados nos relatórios não são aproveitados para tomada de decisão.')">Sim, Há acompanhamento dos relatórios gerenciais. Entretanto, esses dados e indicadores gerados nos relatórios não são aproveitados para tomada de decisão.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next8('Sim, há acompanhamento dos relatórios gerenciais e total suporte das tomadas de decisões apoiadas nos demonstrativos.')">Sim, há acompanhamento dos relatórios gerenciais e total suporte das tomadas de decisões apoiadas nos demonstrativos.</button>
              </div>


            </div>

            <!-- pergunta 9 -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta9">

              <div>
                <img [src]="image9" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Nos demonstrativos da empresa, gerados com o apoio da sua Contabilidade, você consegue visualizar de forma automática informações como: "Custos Variáveis", "Despesas Fixas" e "Margem de Contribuição"?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next9('Não tenho acesso aos demonstrativos da minha empresa.')">Não tenho acesso aos demonstrativos da minha empresa.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next9('Os demonstrativos da minha empresa não condizem com a realidade e não são disponibilizadas essas informações.')">Os demonstrativos da minha empresa não condizem com a realidade e não são disponibilizadas essas informações.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next9('Tenho os demonstrativos, mas não consigo visualizar as informações de forma automática, é preciso calcular.')">Tenho os demonstrativos, mas não consigo visualizar as informações de forma automática, é preciso calcular.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next9('Consigo analisar o demonstrativo e todas essas informações de forma precisa e fácil.')">Consigo analisar o demonstrativo e todas essas informações de forma precisa e fácil.</button>
              </div>


            </div>

            <!-- pergunta 10  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta10">

              <div>
                <img [src]="image10" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Você tem gráficos, dashboards e informações visuais que auxiliem na sua tomada de decisões?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next10('Não, não há sequer informações úteis para isso.')">Não, não há sequer informações úteis para isso.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next10('Não. Há apenas informações financeiras, mas sem dashboards e gráficos para tomada de decisões.')">Não. Há apenas informações financeiras, mas sem dashboards e gráficos para tomada de decisões.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next10('Sim, há informações de alguns gráficos, sem dashboards e que são atualizados periodicamente, manualmente sem automatização.')">Sim, há informações de alguns gráficos, sem dashboards e que são atualizados periodicamente, manualmente sem automatização.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next10('Sim, há informações de gráficos e dashboards, com links atualizados em tempo real de acordo com alterações de receitas e despesas.')">Sim, há informações de gráficos e dashboards, com links atualizados em tempo real de acordo com alterações de receitas e despesas.</button>
              </div>


            </div>

            <!-- pergunta 11  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta11">

              <div>
                <img [src]="image11" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>A sua empresa faz no início de cada mês uma análise detalhada e periódica dos resultados financeiros do mês anterior?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next11('Não, nem sabemos dos resultados financeiros.')">Não, nem sabemos dos resultados financeiros.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next11('De certo modo, apesar de não ter muito tempo acompanho o caixa, quanto sobra na conta e etc.')">De certo modo, apesar de não ter muito tempo acompanho o caixa, quanto sobra na conta e etc.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next11('Sim, acompanhamos os resultados na DRE e Fluxo de caixa.')">Sim, acompanhamos os resultados na DRE e Fluxo de caixa.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next11('Sim, e é acompanhada de KPIS, métricas e indicadores que ajudem na tomada de decisão para o processo de melhoria constante.')">Sim, e é acompanhada de KPI'S, métricas e indicadores que ajudem na tomada de decisão para o processo de melhoria constante.</button>
              </div>


            </div>

            <!-- pergunta 12  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta12">

              <div>
                <img [src]="image12" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Ao analisar os seus resultados, você traça ações de melhorias específicas para cada problema observado na análise?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next12('Não são feitas análises financeiras no negócio.')">Não são feitas análises financeiras no negócio.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next12('Até existe a vontade de analisar os resultados, porém não existem controle dos dados para geração de informação.')">Até existe a vontade de analisar os resultados, porém não existem controle dos dados para geração de informação.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next12('São feitas análises mas não são traçadas ações de melhorias.')">São feitas análises mas não são traçadas ações de melhorias.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next12('Mensalmente são traçadas ações de melhorias baseado nas análises de resultado do negócio.')">Mensalmente são traçadas ações de melhorias baseado nas análises de resultado do negócio.</button>
              </div>


            </div>

            <!-- pergunta 13  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta13">

              <div>
                <img [src]="image13" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>A empresa possuí metas e acompanha os indicadores de performance?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next13('Não. Sequer existem metas ou indicadores na minha empresa.')">Não. Sequer existem metas ou indicadores na minha empresa.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next13('Em partes. Metas são realizadas no feeling empresarial, porém sem relação direta com indicadores e há dificuldades nos planos de ações de melhoria.')">Em partes. Metas são realizadas no 'feeling empresarial', porém sem relação direta com indicadores e há dificuldades nos planos de ações de melhoria.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next13('De certo modo sim , metas são lastreadas em um planejamento estratégico,entretanto há dificuldades com plano de ações para melhoria.')">De certo modo sim , metas são lastreadas em um planejamento estratégico,entretanto há dificuldades com plano de ações para melhoria.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next13('Sim, bem como são feitas e acompanhadas em um planejamento estratégico que norteia toda a empresa,incluindo um plano de melhoria contínuo.')">Sim, bem como são feitas e acompanhadas em um planejamento estratégico que norteia toda a empresa,incluindo um plano de melhoria contínuo.</button>
              </div>


            </div>

            <!-- pergunta 14  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta14">

              <div>
                <img [src]="image14" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Você conhece o conceito de Ponto de Equilíbrio e faz tal cálculo para sua empresa?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next14('Não sei o que é e nem como calcular o Ponto de Equilíbrio.')">Não sei o que é e nem como calcular o Ponto de Equilíbrio.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next14('Conheço o conceito, porém não sei como calcular.')">Conheço o conceito, porém não sei como calcular.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next14('Conheço o conceito, como calcular mas não faço.')">Conheço o conceito, como calcular mas não faço.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next14('Sei exatamente o Ponto de Equilíbrio da minha empresa.')">Sei exatamente o Ponto de Equilíbrio da minha empresa.</button>
              </div>


            </div>

            <!-- pergunta 15  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta15">

              <div>
                <img [src]="image15" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Como você define o preço dos seus produtos?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next15('Não faço nenhum cálculo, sigo o preço do mercado, baseado na concorrência.')">Não faço nenhum cálculo, sigo o preço do mercado, baseado na concorrência.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next15('Multiplico o Custo por um número x de vezes.')">Multiplico o Custo por um número x de vezes.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next15('Utilizo uma planilha e o resultado é o preço.')">Utilizo uma planilha e o resultado é o preço.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next15('Utilizo uma ferramenta de precificação, e faço análises após o resultado.')">Utilizo uma ferramenta de precificação, e faço análises após o resultado.</button>
              </div>


            </div>

            <!-- pergunta 16  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta16">

              <div>
                <img [src]="image17" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Você conhece qual é a %Margem de Contribuição Média dos seu mix de produtos?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next16('Não sei o que significa Margem de Contribuição.')">Não sei o que significa Margem de Contribuição.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next16('Até conheço o conceito de Margem de Contribuição, mas não tenho ideia de como calcular.')">Até conheço o conceito de Margem de Contribuição, mas não tenho ideia de como calcular.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next16('Até conheço o conceito de Margem de Contribuição, mas não faço para todos os produtos, então não tenho a % de margem média.')">Até conheço o conceito de Margem de Contribuição, mas não faço para todos os produtos, então não tenho a % de margem média.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next16('Sim, sei exatamente qual é minha %MC média.')">Sim, sei exatamente qual é minha %MC média.</button>
              </div>


            </div>

            <!-- pergunta 17  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta17">

              <div>
                <img [src]="image18" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Você conhece exatamente o preço ideal e a quantidade vendida de cada produto/serviço para lucrar o quanto você deseja?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next17('Não, meu preço é calculado apenas pelo valor da concorrência,afinal não posso ficar atrás do meu concorrente na guerra de preços.')">Não, meu preço é calculado apenas pelo valor da concorrência,afinal não posso ficar atrás do meu concorrente na guerra de preços.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next17('Acho que sim, adiciono sempre um percentual de lucro em relação ao valor pago do preço unitário.')">Acho que sim, adiciono sempre um percentual de lucro em relação ao valor pago do preço unitário.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next17('De certo modo sim, é analisada a aceitação do mercado em relação a cada produto e a contribuição do lucro em cada produto.')">De certo modo sim, é analisada a aceitação do mercado em relação a cada produto e a contribuição do lucro em cada produto.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next17('Sim, é aplicado a fórmula de marcação do preço, levando em conta gastos fixos, gastos variáveis e a margem de lucro desejada sobre o produto. Auxiliando assim, as novas compras e produções, realização de promoções etc.')">Sim, é aplicado a fórmula de marcação do preço, levando em conta gastos fixos, gastos variáveis e a margem de lucro desejada sobre o produto. Auxiliando assim, as novas compras e produções, realização de promoções etc.</button>
              </div>


            </div>

            <!-- pergunta 18  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta18">

              <div>
                <img [src]="image19" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>A empresa tem o costume de ficar no vermelho (cheque especial) no banco, ou então está com dívidas de contas atrasadas?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next18('Constatemente estamos no cheque especial e atrasando pagamentos.')">Constatemente estamos no cheque especial e atrasando pagamentos.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next18('As vezes atrasamos uma conta ou entramos no cheque especial.')">As vezes atrasamos uma conta ou entramos no cheque especial.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next18('Praticamente nunca entramos no cheque especial ou atrasamos contas.')">Praticamente nunca entramos no cheque especial ou atrasamos contas.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next18('Nunca entramos no cheque especial ou atrasamos uma conta.')">Nunca entramos no cheque especial ou atrasamos uma conta.</button>
              </div>


            </div>

            <!-- pergunta 19  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta19">

              <div>
                <img [src]="image20" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>O Comércio tem empréstimos?</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next19('Possuí  empréstimos que somam mais que três meses de faturamento do negócio.')">Possuí  empréstimos que somam mais que três meses de faturamento do negócio.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next19('Possuí alguns empréstimos que somam menos que três meses de faturamento do negócio.')">Possuí alguns empréstimos que somam menos que três meses de faturamento do negócio.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next19('No momento não tem mas utilizou nos últimos meses.')">No momento não tem mas utilizou nos últimos meses.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next19('Não possuí nenhum empréstimo e nem precisou nos últimos meses.')">Não possuí nenhum empréstimo e nem precisou nos últimos meses.</button>
              </div>


            </div>

            <!-- pergunta 20  -->
            <div class="questionario" [ngClass]="{'fade-in-element': true, 'show': showElement}" *ngIf="pergunta20">

              <div>
                <img [src]="image21" alt="Minha Imagem" class="figurinha">
              </div>

              <h2>Se a empresa parasse de faturar, ou seja, se não entrasse absolutamente nenhum dinheiro, quanto tempo ela conseguiria pagar as despesas fixas sem entrar no negativo? (aproximadamente)</h2>


              <div class="form-check">
                <button class="custom-button" (click)="next20('Menos que 1 Mes.')">Menos que 1 Mes.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next20('Entre 1 e 3 Meses.')">Entre 1 e 3 Meses.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next20('Entre 4 e 6 meses.')">Entre 4 e 6 meses.</button>
              </div>

              <div class="form-check">
                <button class="custom-button" (click)="next20('Acima de 6 meses.')">Acima de 6 meses.</button>
              </div>

        </div>

      </form>

    </div>


</div>


</div>


